h3{
	text-align:center;
	margin-top:5px;
}
.links,
.status,
.buttons{
	height:30px;
	text-align: center;
}

.entry{
	border: 1px solid #CDCDCD;
margin: 20px auto;
width: 956px;

padding: 10px;
text-align: center;
background-color: #EFEFEF;
}

.entry table{
	margin: 0 auto;
}

.entry textarea{
	width: 300px;
}
.status span{
	display:none;
}
.code{
	width: calc(100% - 10px);
height: 2000px;
}

.scrapings{
	text-align:center;
}